.button {
    color: white;
    border-color: rgb(100, 100, 100);
    background-color: gray;
    border-radius: 5px;
    
}
.text {
    font-size: 50px;
}
.profilepic {
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 25px;
}
.title {
    position: absolute;
    right: 550px;
    top: -15px;
}
.topbar {
    border-color: black;
    width: 100px;
    height: 100px;
}
